html {
    background-color: rgb(120, 164, 194);
}
h1 {
  margin-left:30px;
}
h3{
  margin-left:30px;
  
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
    
  }
  
  li {
    float: left;
    margin-left:60px;
    
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  
  .active {
    background-color: #4CAF50;
    margin-right: 100px;
    
  }
  div{
    background-image: url('background.jpg');
    
  }
  .auth{
      width: 800px;
      height: 400px;
        border-radius: 10px;
        background-color: #ffffff;
        padding: 20px;
        margin-top: 30px;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;

  }
  .crea{
    width: 600px;
    height: 100;
      border-radius: 10px;
      background-color: #ffffff;
      padding: 20px;
      margin-top: 30px;
      display:flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-left: 30px;

}
  .appunto{
    width: 300px;
    height: 2px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;

}
  .profilo{
    width: 400px;
    height: 80px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;

}
  .filtro{
    width: 600px;
    height: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;

}
.upload{
  width: 1450px;
  height: 60px;
  border-radius: 3px;
  background-color: #ffffff;
  
  display:flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  

}
  